arqmath-index
run-topics-*
*.gz
*.zip
ARQMath_Collection
ARQMath_Collection-post-ptindex
ARQMath_Collection-math-ptindex
ARQMath_Collection-post-ptindex-rawtokens
indexTest-math-ptindex
indexTest-post-ptindex
__pycache__/
*/__pycache__/
.*.bak
*.bak
.*.swp
*.swp

